/*
* Created with Fontello: http://fontello.com/
*/
@font-face {
  font-family: 'hexular-icons';
  src: url('../vendor/icons.woff2?v=0.2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  font-family: "hexular-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"].rotate::before, [class*=" icon-"].rotate::before {
  transform: rotate(30deg);
}

.icon-asterisk:before { content: '\e800'; }
.icon-beehive-outline:before { content: '\e801'; }
.icon-block:before { content: '\e802'; }
.icon-brush:before { content: '\e803'; }
.icon-camcorder:before { content: '\e804'; }
.icon-center:before { content: '\e805'; }
.icon-check-all:before { content: '\e806'; }
.icon-clapperboard:before { content: '\e807'; }
.icon-clear:before { content: '\e808'; }
.icon-cloud-code:before { content: '\e809'; }
.icon-code:before { content: '\e80a'; }
.icon-color-fill:before { content: '\e80b'; }
.icon-compass:before { content: '\e80c'; }
.icon-extension:before { content: '\e80d'; }
.icon-eye:before { content: '\e80e'; }
.icon-eye-off:before { content: '\e80f'; }
.icon-flower:before { content: '\e810'; }
.icon-function:before { content: '\e811'; }
.icon-gear:before { content: '\e812'; }
.icon-heart:before { content: '\e813'; }
.icon-hexagon:before { content: '\e814'; }
.icon-hexagon-left:before { content: '\e815'; }
.icon-hexagon-multiple:before { content: '\e816'; }
.icon-hexagon-multiple-outline:before { content: '\e817'; }
.icon-hexagon-outline:before { content: '\e818'; }
.icon-hexagon-pro:before { content: '\e819'; }
.icon-hexagon-right:before { content: '\e81a'; }
.icon-hexagon-slice-1:before { content: '\e81b'; }
.icon-hexagon-slice-2:before { content: '\e81c'; }
.icon-hexagon-slice-3:before { content: '\e81d'; }
.icon-hexagon-slice-4:before { content: '\e81e'; }
.icon-hexagon-slice-5:before { content: '\e81f'; }
.icon-hexagon-slice-6:before { content: '\e820'; }
.icon-hexagon-up:before { content: '\e821'; }
.icon-hexagram:before { content: '\e822'; }
.icon-hexagram-outline:before { content: '\e823'; }
.icon-hexception:before { content: '\e824'; }
.icon-hex-radius-1:before { content: '\e825'; }
.icon-hex-radius-2:before { content: '\e826'; }
.icon-hex-radius-3:before { content: '\e827'; }
.icon-hourglass:before { content: '\e828'; }
.icon-image:before { content: '\e829'; }
.icon-info:before { content: '\e82a'; }
.icon-info-variant:before { content: '\e82b'; }
.icon-key-apple:before { content: '\e82c'; }
.icon-key-control:before { content: '\e82d'; }
.icon-key-option:before { content: '\e82e'; }
.icon-key-shift:before { content: '\e82f'; }
.icon-lead-pencil:before { content: '\e830'; }
.icon-lightbulb-on:before { content: '\e831'; }
.icon-lightning:before { content: '\e832'; }
.icon-lines:before { content: '\e833'; }
.icon-magnet:before { content: '\e834'; }
.icon-molecule:before { content: '\e835'; }
.icon-move:before { content: '\e836'; }
.icon-mushroom:before { content: '\e837'; }
.icon-palette:before { content: '\e838'; }
.icon-paperclip:before { content: '\e839'; }
.icon-pause:before { content: '\e83a'; }
.icon-pencil:before { content: '\e83b'; }
.icon-play:before { content: '\e83c'; }
.icon-plus:before { content: '\e83d'; }
.icon-question:before { content: '\e83e'; }
.icon-rainbow:before { content: '\e83f'; }
.icon-record:before { content: '\e840'; }
.icon-redo:before { content: '\e841'; }
.icon-resize:before { content: '\e842'; }
.icon-resize-horizontal:before { content: '\e843'; }
.icon-ruler:before { content: '\e844'; }
.icon-ruler-square-compass:before { content: '\e845'; }
.icon-selection-ellipse:before { content: '\e846'; }
.icon-ship-wheel:before { content: '\e847'; }
.icon-sigma:before { content: '\e848'; }
.icon-six-lines:before { content: '\e849'; }
.icon-skull-crossbones:before { content: '\e84a'; }
.icon-slash-forward:before { content: '\e84b'; }
.icon-spa:before { content: '\e84c'; }
.icon-step-backward:before { content: '\e84d'; }
.icon-step-forward:before { content: '\e84e'; }
.icon-stop:before { content: '\e84f'; }
.icon-sync:before { content: '\e850'; }
.icon-target:before { content: '\e851'; }
.icon-timer:before { content: '\e852'; }
.icon-tools:before { content: '\e853'; }
.icon-trash:before { content: '\e854'; }
.icon-triangle:before { content: '\e855'; }
.icon-triforce:before { content: '\e856'; }
.icon-tulip:before { content: '\e857'; }
.icon-twitter:before { content: '\e858'; }
.icon-undo:before { content: '\e859'; }
.icon-vector-line:before { content: '\e85a'; }
.icon-weather-sunny:before { content: '\e85b'; }
.icon-yin-yang:before { content: '\e85c'; }
.icon-zoom:before { content: '\e85d'; }
.icon-briefcase-download:before { content: '\e85e'; }
.icon-briefcase-upload:before { content: '\e85f'; }
.icon-cloud-upload:before { content: '\e860'; }
.icon-arrow-collapse-down:before { content: '\e861'; }
.icon-arrow-collapse-up:before { content: '\e862'; }
.icon-backup-restore:before { content: '\e863'; }
.icon-cloud-download:before { content: '\e864'; }
.icon-download:before { content: '\e865'; }
.icon-history:before { content: '\e866'; }
.icon-infinity:before { content: '\e867'; }
.icon-layers:before { content: '\e868'; }
.icon-percent:before { content: '\e869'; }
.icon-power:before { content: '\e86a'; }
.icon-refresh:before { content: '\e86b'; }
.icon-restore:before { content: '\e86c'; }
.icon-save:before { content: '\e86d'; }
.icon-scissors:before { content: '\e86e'; }
.icon-upload:before { content: '\e86f'; }
.icon-vector-triangle:before { content: '\e870'; }
.icon-delta:before { content: '\e871'; }