.icon-arrow-collapse-down:before { content: '\e800'; }
.icon-arrow-collapse-up:before { content: '\e801'; }
.icon-asterisk:before { content: '\e802'; }
.icon-backup-restore:before { content: '\e803'; }
.icon-beehive-outline:before { content: '\e804'; }
.icon-block:before { content: '\e805'; }
.icon-briefcase-download:before { content: '\e806'; }
.icon-briefcase-upload:before { content: '\e807'; }
.icon-brush:before { content: '\e808'; }
.icon-camcorder:before { content: '\e809'; }
.icon-center:before { content: '\e80a'; }
.icon-check-all:before { content: '\e80b'; }
.icon-clapperboard:before { content: '\e80c'; }
.icon-clear:before { content: '\e80d'; }
.icon-cloud-code:before { content: '\e80e'; }
.icon-cloud-download:before { content: '\e80f'; }
.icon-cloud-upload:before { content: '\e810'; }
.icon-code:before { content: '\e811'; }
.icon-color-fill:before { content: '\e812'; }
.icon-compass:before { content: '\e813'; }
.icon-delta:before { content: '\e814'; }
.icon-download:before { content: '\e815'; }
.icon-extension:before { content: '\e816'; }
.icon-eye:before { content: '\e817'; }
.icon-eye-off:before { content: '\e818'; }
.icon-flower:before { content: '\e819'; }
.icon-function:before { content: '\e81a'; }
.icon-gear:before { content: '\e81b'; }
.icon-heart:before { content: '\e81c'; }
.icon-hexagon:before { content: '\e81d'; }
.icon-hexagon-left:before { content: '\e81e'; }
.icon-hexagon-multiple:before { content: '\e81f'; }
.icon-hexagon-multiple-outline:before { content: '\e820'; }
.icon-hexagon-outline:before { content: '\e821'; }
.icon-hexagon-pro:before { content: '\e822'; }
.icon-hexagon-right:before { content: '\e823'; }
.icon-hexagon-slice-1:before { content: '\e824'; }
.icon-hexagon-slice-2:before { content: '\e825'; }
.icon-hexagon-slice-3:before { content: '\e826'; }
.icon-hexagon-slice-4:before { content: '\e827'; }
.icon-hexagon-slice-5:before { content: '\e828'; }
.icon-hexagon-slice-6:before { content: '\e829'; }
.icon-hexagon-up:before { content: '\e82a'; }
.icon-hexagram:before { content: '\e82b'; }
.icon-hexagram-outline:before { content: '\e82c'; }
.icon-hexception:before { content: '\e82d'; }
.icon-hex-radius-1:before { content: '\e82e'; }
.icon-hex-radius-2:before { content: '\e82f'; }
.icon-hex-radius-3:before { content: '\e830'; }
.icon-history:before { content: '\e831'; }
.icon-hourglass:before { content: '\e832'; }
.icon-image:before { content: '\e833'; }
.icon-infinity:before { content: '\e834'; }
.icon-info:before { content: '\e835'; }
.icon-info-variant:before { content: '\e836'; }
.icon-key-apple:before { content: '\e837'; }
.icon-key-control:before { content: '\e838'; }
.icon-key-option:before { content: '\e839'; }
.icon-key-shift:before { content: '\e83a'; }
.icon-layers:before { content: '\e83b'; }
.icon-lead-pencil:before { content: '\e83c'; }
.icon-lightbulb-on:before { content: '\e83d'; }
.icon-lightning:before { content: '\e83e'; }
.icon-lines:before { content: '\e83f'; }
.icon-magnet:before { content: '\e840'; }
.icon-molecule:before { content: '\e841'; }
.icon-move:before { content: '\e842'; }
.icon-mushroom:before { content: '\e843'; }
.icon-palette:before { content: '\e844'; }
.icon-paperclip:before { content: '\e845'; }
.icon-pause:before { content: '\e846'; }
.icon-pencil:before { content: '\e847'; }
.icon-percent:before { content: '\e848'; }
.icon-play:before { content: '\e849'; }
.icon-plus:before { content: '\e84a'; }
.icon-power:before { content: '\e84b'; }
.icon-question:before { content: '\e84c'; }
.icon-rainbow:before { content: '\e84d'; }
.icon-record:before { content: '\e84e'; }
.icon-redo:before { content: '\e84f'; }
.icon-refresh:before { content: '\e850'; }
.icon-resize:before { content: '\e851'; }
.icon-resize-horizontal:before { content: '\e852'; }
.icon-restore:before { content: '\e853'; }
.icon-ruler:before { content: '\e854'; }
.icon-ruler-square-compass:before { content: '\e855'; }
.icon-save:before { content: '\e856'; }
.icon-scissors:before { content: '\e857'; }
.icon-selection-ellipse:before { content: '\e858'; }
.icon-ship-wheel:before { content: '\e859'; }
.icon-sigma:before { content: '\e85a'; }
.icon-six-lines:before { content: '\e85b'; }
.icon-skull-crossbones:before { content: '\e85c'; }
.icon-slash-forward:before { content: '\e85d'; }
.icon-spa:before { content: '\e85e'; }
.icon-step-backward:before { content: '\e85f'; }
.icon-step-forward:before { content: '\e860'; }
.icon-stop:before { content: '\e861'; }
.icon-sync:before { content: '\e862'; }
.icon-target:before { content: '\e863'; }
.icon-timer:before { content: '\e864'; }
.icon-tools:before { content: '\e865'; }
.icon-trash:before { content: '\e866'; }
.icon-triangle:before { content: '\e867'; }
.icon-triforce:before { content: '\e868'; }
.icon-tulip:before { content: '\e869'; }
.icon-twitter:before { content: '\e86a'; }
.icon-undo:before { content: '\e86b'; }
.icon-upload:before { content: '\e86c'; }
.icon-vector-line:before { content: '\e86d'; }
.icon-vector-triangle:before { content: '\e86e'; }
.icon-weather-sunny:before { content: '\e86f'; }
.icon-yin-yang:before { content: '\e870'; }
.icon-zoom:before { content: '\e871'; }
.icon-lambda:before { content: '\e872'; }
.icon-arrow-top-right-bottom-left:before { content: '\e873'; }
.icon-dots-horizontal:before { content: '\e874'; }
.icon-dots-vertical:before { content: '\e875'; }
.icon-menu:before { content: '\e876'; }
.icon-circle:before { content: '\e877'; }
.icon-circle-outline:before { content: '\e878'; }
.icon-sort-ascending:before { content: '\e879'; }
.icon-sort-descending:before { content: '\e87a'; }
.icon-sort:before { content: '\f0dc'; }