* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

@font-face {
  font-family: icon;
  font-weight: normal;
  font-style: normal;
  src: url('../vendor/material-icons.woff2') format('woff2');
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 20px;
  font-family: 'DejaVu Sans Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Noto Mono', monospace;
}

body {
  display: flex;
  background: #cdd;
  color: #333;
  transition: opacity 500ms;
}

body * {
  transition: opacity 250ms, color 250ms, background-color 250ms, transform 250ms;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  font-family: icon;
}

.container {
  position: relative;
  margin: auto;
}

button {
  display: block;
  color: #fff;
  background: #3f9fcc;
  font-weight: normal;
  font-style: normal;
  font-family: icon;
  cursor: pointer;
}

body:not(.mobile) button:hover:not(:disabled) {
  background: #fb3;
  color: #fff;
}

body.mobile button:active {
  background: #fb3;
  color: #fff;
}

button:disabled {
  cursor: default;
  color: rgba(255, 255, 255, 0.5);
}

button.text {
  font-family: inherit;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 0;
}

.header .group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0.5rem;
}

.header button {
  font-size: 1.5rem;
/*  border-radius: 0.25rem;*/
  margin: 0.1rem 0.05rem 0;
  padding: 0.25rem 0.5rem;
}

.header .group > button:first-child {
  border-bottom-left-radius: 0.5rem;
}

.header .group > button:last-child, .header .group a button {
  border-bottom-right-radius: 0.5rem;
}

.header.hidden button {
  transform: translateY(calc(-100% - 0.2rem));
}

canvas.canvas-fg {
  position: absolute;
  left: 0;
  top: 0;
}

.info {
  position: fixed;
  z-index: 20;
  left: 0.5rem;
  bottom: 0.5rem;
  line-height: 1;
  color: #3f9fcc;
  font-weight: bold;
}

.info.hidden, body.mobile .info {
  transform: translateY(calc(100% + 0.5rem));
}

.message {
  position: fixed;
  z-index: 20;
  top: 3rem;
  left: 1rem;
  right: 1rem;
  height: 0;
  line-height: 2;
  background: #9fcc3f;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  border-radius: 2rem;
  transition: all 500ms;
}

.message.active {
  opacity: 1;
  height: 2rem;
}

.message.error {
  background: #c33;
}

.overlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 20;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  padding: 2rem;
  background: rgba(0,0,0,0.5);
}

.overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 1rem;
  flex: 0 1 30rem;
  padding: 1rem 1rem 0.5rem 1rem;
  background: #eee;
  border-radius: 1rem;
  box-shadow: 10px 3px 3px 'red';
}

.modal .group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.modal .group > * {
  margin: 0.2rem;
}

.modal .group textarea, select, input {
  width: 100%;
  padding: 0.25rem;
}

.modal button {
  flex: 0 0 2rem;
  min-height: 2rem;
  padding: 0.25rem;
}

.rule-config [data-disabled='true'] {
  opacity: 0.5;
}

.modal .rule-config {
  column-count: 2;
  column-gap: 0;
  margin: 0.2rem 0;
}

.modal .rule-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0.4rem 0.2rem;
}

.modal .indicator {
  display: flex;
  flex: 0 0 2rem;
  justify-content: center;
  align-items: center;
  width: 2rem;
  margin-right: 0.4rem;
  border: 0.2rem solid transparent;
  font-family: icon;
  cursor: pointer;
}

.modal .rule-menu.checked .indicator {
  border-color: #fb3;
}

.modal select {
  background: #fff;
}

.modal .rule-menu:first-child {
  margin-top: 0;
}

.modal .rule-menu:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .modal { font-size: 0.8rem; }
}

@media screen and (max-width: 360px){
  html { font-size: 5.555vw; }
}

@media screen and (min-width: 2000px){
  html { font-size: 1vw; }
}
