* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 20px;
  font-family: 'DejaVu Sans Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Noto Mono', monospace;
}

body {
  display: flex;
  background: #cdd;
  color: #333;
  transition: all 500ms;
}

.header, button, a, input {
  transition: all 250ms;
}

@font-face {
  font-family: icon;
  font-weight: normal;
  font-style: normal;
  src: url('../vendor/material-icons.woff2') format('woff2');
}

.icon {
  font-family: icon;
}

.container {
  position: relative;
  margin: auto;
}

button {
  display: block;
  color: #fff;
  background: #3f9fcc;
  font-weight: normal;
  font-style: normal;
  font-family: icon;
  cursor: pointer;
}

button:hover:not(:disabled) {
  background: #fb3;
  color: #fff;
  border: 0;
}

button:disabled {
  cursor: default;
  color: rgba(255, 255, 255, 0.5);
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.header button {
  font-size: 1.5rem;
/*  border-radius: 0.25rem;*/
  margin: 0.1rem 0.05rem;
  padding: 0.25rem 0.5rem;

}

.header button:first-child {
  border-bottom-left-radius: 0.5rem;
}

.header button:last-child {
  border-bottom-right-radius: 0.5rem;
}

.header.hidden button {
  transform: translateY(calc(-100% - 0.2rem));
}

canvas.canvas-bg {
}

canvas.canvas-fg {
  position: absolute;
  left: 0;
  top: 0;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 20;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: rgba(0,0,0,0.5);
}

.overlay.hidden {
  z-index: -100;
  opacity: 0;
}

.checked {
  background: #fb3;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem 1rem 0.5rem 1rem;
  max-width: 90%;
  background: #eee;
  border-radius: 1rem;
  box-shadow: 10px 3px 3px 'red';
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.group > * {
  margin: 0.2rem;
}

.group textarea, select, input {
  width: 100%;
  padding: 0.25rem;
}

.modal button {
  padding: 0.25rem;
}

.modal .group input {
  display: block;
  margin: 0 auto 1rem auto;
}
.rule-config select[data-disabled='true'] {
  opacity: 0.5;
}

.modal .rule-config {
  column-count: 2;
  column-gap: 0;
}

.modal .rule-menu {
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.modal .indicator {
  width: 2rem;
  font-family: icon;
}

.modal .rule-menu select {
}

.modal .rule-menu:first-child {
  margin-top: 0;
}

.modal .rule-menu:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 480px){
  html { font-size: 4vw; }
}

@media screen and (min-width: 2000px){
  html { font-size: 1vw; }
}
